<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="web development">
    <meta name="author" content="andre orvalho">

    <title>andreorvalho.com</title>

    <!-- Main app assets-->
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag '/assets/stylesheets/main.min.css' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '/assets/javascripts/main.js' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <%= render 'layouts/partials/nav_bar' %>

    <%= yield %>
  </body>
</html>
